<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Student Management system</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">Student Data Management</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" th:href="@{/students}">Homepage</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" th:href="@{/students/new}">Add Student</a>
        </li>
    </ul>
</nav>
<br>
<br>
    <div class = "container">
        <div class = "row">
            <h1> List of Students</h1>
        </div>

        <div class = "row">
            <div>
                <a th:href = "@{/students/new}" class="btn btn-primary btn-sm mb-3">Add Student</a>
            </div>

        </div>

        <table class="table table-striped table-dark table-bordered table-hover">
            <thead class="thead-light">
            <tr>
                <th class="bg-success"> First Name </th>
                <th class="bg-success"> Last Name </th>
                <th class="bg-success"> EmailId </th>
                <th class="bg-success"> Operations </th>
            </tr>
            </thead>

            <tbody>
            <tr th:each = "student: ${students}">
                <td th:text = "${student.firstName}"/>
                <td th:text = "${student.lastName}"/>
                <td th:text = "${student.emailId}"/>
                <td>
                    <a th:href = "@{/students/edit/{id}(id=${student.id})}" class="btn btn-light">Update Student</a>
                    <a th:href = "@{/students/delete/{id}(id=${student.id})}" class="btn btn-danger">Delete Record</a>
                </td>
            </tr>
            </tbody>

        </table>
    </div>

</body>
</html>